.nav {
  background-color: rgb(212, 255, 0);
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}
.img {
  max-width: 555%;
  height: auto;
  margin: 0;
}
